{% extends 'base.html.twig' %}

{% block body %}
<div class="card">
    <div class="card-body">
        <h1 class="card-title">Editar Proceso</h1>
        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <div class="btn-group">
            <input class="btn btn-info" type="submit" value="Guardar" />
            <a class="btn btn-primary" href="{{ path('process_index') }}">Regresar</a>
            {{ form_end(edit_form) }}
            {{ form_start(delete_form) }}
            <input class="btn btn-danger" type="submit" value="Eliminar">
            {{ form_end(delete_form) }}
        </div>

    </div>
</div>

{% endblock %}
