{% extends 'base.html.twig' %}

{% block body %}
    <h1>Proceso</h1>

    <table>
        <tbody>
            <tr>
                <th>Número de Proceso</th>
                <td>{{ process.number }}</td>
            </tr>
            <tr>
                <th>Sede</th>
                <td>{{ process.city }}</td>
            </tr>
            <tr>
                <th>Descripción</th>
                <td>{{ process.description }}</td>
            </tr>
            <tr>
                <th>Fecha de Creación</th>
                <td>{% if process.date %}{{ process.date|date('d/m/Y') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Presupuesto</th>
                <td>{{ process.quotation | number_format(2, ',', '.') }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('process_index') }}">Regresar a la lista</a>
        </li>
        <li>
            <a href="{{ path('process_edit', { 'id': process.id }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
