{% extends 'base.html.twig' %}

{% block body %}
    <h1>Process</h1>

    <table>
        <tbody>
            <tr>
                <th>Number</th>
                <td>{{ process.number }}</td>
            </tr>
            <tr>
                <th>Ciudad</th>
                <td>{{ process.city }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ process.description }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if process.date %}{{ process.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Quotation</th>
                <td>{{ process.quotation }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('process_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('process_edit', { 'id': process.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
